{% extends getRole(app.request) == "ROLE_ARTISTE" ? "base-front-artiste.html.twig" :  getRole(app.request) == "ROLE_PRESTATAIRE"  ? 'base-back-prest.html.twig' : 'base-back.html.twig' %}

{% block title %}New EventCalendar{% endblock %}

{% block body %}
    <h1 class="text-primary" style="margin-left: 35%">Ajouter Un Evènement Important Au Calendrier</h1><br><br>

    {{ include('event_calendar/_form.html.twig') }}<br>

    <br><a href="{{ path('app_event_index') }}"><button class="btn btn-info">Retour En Arrière</button></a>
{% endblock %}
