<form method="post" action="{{ path('app_reclamation_delete', {'id': reclamation.id}) }}" onsubmit="return confirm('supprimer cette recalamation?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ reclamation.id) }}">
    <br><button class="btn btn-info" style="margin-left: 50%">Supprimer</button>
</form>
