{% extends getRole(app.request) == "ROLE_ARTISTE" ? "base-back-artiste.html.twig" :  getRole(app.request) == "ROLE_PRESTATAIRE"  ? 'base-back-prest.html.twig' : 'base-back.html.twig' %}



{% block title %}New User Category{% endblock %}

{% block body %}
    <h1>Create new Category</h1>

    {{ include('category/_form.html.twig') }}

<br>
    <a href="{{ path('app_user_type_index') }}"><button class="btn btn-info">Rétour en Arrière</button></a>
{% endblock %}
