{% extends 'front_malek.html.twig' %}
{% block body %}
       <div class="row" style="background: #3d3e47" >
        <div class="col-md-8">
            <canvas id="mycanvas"></canvas>
        </div>
        <div class="col-md-4">
            <h1  style="color: #b0b435">statistique des commandes pour six mois</h1>
            <p  style="color: #fafbff;font-size: 35px">cette chart montre combien
                des produits commandee dans chaque mois</p>
        </div>
    </div>
{% endblock %}