{% extends 'baseLogin.html.twig' %}

{% block title %}Réinitialisation de mot de passe{% endblock %}

{% block body %}
    <section class="container my-3">
        <div class="row">
            <div class="col">
                <h1>Reset password</h1>
                {{ form_start(requestPassForm) }}
                {{ form_row(requestPassForm.email) }}

                <div class="row mb-4">

                <div class="col">
                    <div class="form-lef">

                        <button type="submit" class="btn btn-primary">Envoyer</button>
                    </div>
                </div>
                <div class="col">
                    <div class="text-right">
                       <a href="{{ path('app_login_front') }}">Return</a>
                    </div>
                </div>

                {{ form_end(requestPassForm) }}
                </div>

            </div>
        </div>
    </section>

{% endblock %}