{% extends getRole(app.request) == "ROLE_ARTISTE" ? "base-back-artiste.html.twig" :  getRole(app.request) == "ROLE_PRESTATAIRE"  ? 'base-back-prest.html.twig' : 'base-back.html.twig' %}


{% block title %}New Salle{% endblock %}

{% block body %}

    <h1 class="text-primary" style="margin-left: 35%">Ajouter Une Salle</h1>

    {{ include('salle/_form.html.twig') }}

    <br> <a href="{{ path('app_salle_index') }}"><button class="btn btn-info">Retour En Arrière </button></a>
{% endblock %}
